:root {
    --color-background: #0a0f0b;
    --color-console-text: #9f9;
    --color-console-username: #9f9;
    --color-console-glow: #0f0;
    /*--color-console-error: #ff304f;*/
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
    font-family: cursor, monospace;
}

body::selection {
    background-color: white;
}

body::-moz-selection {
    background-color: white;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.console {
    margin: 20px;
    color: var(--color-console-text);
    text-overflow: clip;
    word-wrap: anywhere;
    font-size: 14pt;
}

.console p {
    margin: 0;
    white-space: pre-line;
}

.console span.username {
    color: var(--color-console-username);
    font-weight: bold;
    text-shadow: 0 0 5px var(--color-console-glow);
}

.console textarea {
    position: absolute;
}

.console b.selection {

}

.console b.cursor {
    color: var(--color-console-text);
    font-weight: normal;
    position: relative;
}

.console b:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 9px;
    background-color: var(--color-console-text);
    top: 15px;
    opacity: 0.8;
    animation: blinker 1s step-start infinite;
}

.console .type-input {
    width: 100%;
    outline: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.scanlines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 300;
    opacity: .4;
}

.scanlines::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines .4s linear infinite;
}

@keyframes scanlines {
    from {
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
        background-size: 100% 4px;
    }
    to {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
        background-size: 100% 4px;
    }
}

